.header-nav {
	display: flex;
}

.logo {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: $accent-color;
	display: inline-block;
}

.header-navigation__link {
	display: block;
	position: relative;
	padding: 21px 0px;
	font-weight: 500;
	font-size: $text-font-size;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: $priamary-color;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
	color: $accent-color;
}

.current::after {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: $accent-color;
	position: absolute;
	bottom: -11px;
	left: 0;
	border-radius: 2px;
	transition: opacity $transion;
}


.contacts-list__link:hover,
.contacts-list__link:focus {
	fill: $accent-color;
	color: $accent-color;
	transform: scale(1.02);
}


.contacts-list__link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: $text-font-size;
	line-height: 1.14;
	letter-spacing: 0.02em;
	background-color: transparent;
	cursor: pointer;
	color: $text-color;
	fill: $text-color;
	padding: 15px 0px;
	transition: transform $transion,
		color $transion;
}

.contacts-list__icon {
	margin-right: 10px;
	color: currentColor;
}

.contacts-link {
	display: block;
	padding: 21px 0px;
	font-size: $text-font-size;
	line-height: 1.14;
	letter-spacing: 0.02em;
	font-weight: 500;
	color: $text-color;
	fill: $text-color;
	transition: transform $transion,
		color $transion;
	;
}

.contacts-link:hover,
.contacts-link:focus {
	color: $accent-color;
	fill: $accent-color;
}

.contacts-link:not(:last-child) {
	margin-right: 50px;
}