.header {
	background-color: #ffffff;
	border-bottom: 1px solid #ececec;

	.header-nav {
		display: flex;
	}
}

.header,
.header-nav,
.header-nav__menu,
.header-nav__contacts {
	display: flex;
	align-items: center;
	height: 80px;
}

/*.header-nav {
	display: flex;
}*/

.logo {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
	display: inline-block;
}

.header__logo {
	margin-right: 93px;
}

.logo__logo-dark {
	color: #000;
}

.header-navigation__item+.header-navigation__item {
	margin-left: 50px;
}

.header-navigation__link {
	display: block;
	position: relative;
	padding: 21px 0px;
	font-weight: 500;
	font-size: var(--text-font-size);
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--priamary-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&--current {
		color: var(--accent-color);

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 4px;
			background-color: var(--accent-color);
			position: absolute;
			bottom: -11px;
			left: 0;
			border-radius: 2px;
			transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}

/*.header-navigation__link--current {
	color: var(--accent-color);
}

.current::after {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--accent-color);
	position: absolute;
	bottom: -11px;
	left: 0;
	border-radius: 2px;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

.header-nav__contacts {
	margin-left: auto;
}

.contacts-list__item+.contacts-list__item {
	margin-left: 50px;
}

.contact-mail {
	color: var(--text-color);
	fill: var(--text-color);
	padding: 21px 0px;
}

.contacts-list__item:hover,
.contacts-list__item:focus {
	fill: var(--accent-color);
	padding: 21px 0px;
}


.phone {
	width: 10px;
	height: 16px;
}

.contacts-list__link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: var(--text-font-size);
	line-height: 1.14;
	letter-spacing: 0.02em;
	background-color: transparent;
	cursor: pointer;
	color: var(--text-color);
	fill: var(--text-color);
	padding: 15px 0px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
		color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		fill: var(--accent-color);
		color: var(--accent-color);
		transform: scale(1.02);
	}
}

.contacts-list__icon {
	margin-right: 10px;
	color: currentColor;
}

.contacts-link {
	display: block;
	padding: 21px 0px;
	font-size: var(--text-font-size);
	line-height: 1.14;
	letter-spacing: 0.02em;
	font-weight: 500;
	color: var(--text-color);
	fill: var(--text-color);
	transition: var(--icon-link);

	&:hover,
	&:focus {
		color: var(--accent-color);
		fill: var(--accent-color);
	}

	&:not(:last-child) {
		margin-right: 50px;
	}
}